 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Bootstrap</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <p>Pthon</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-pycharm-plain colored"></i>
      <p> GitHub Atom Pycharm </p>
    </div>
</div>
